# Ігноруємо віртуальне середовище
project1_env/

# База даних SQLite
db.sqlite3

# Файли кешу Python
__pycache__/
*.pyc
*.pyo

# Налаштування середовища
.env

# Файли і лог-файли IDE
.vscode/
.idea/
*.log

# Статичні файли, якщо вони генеруються
staticfiles/