{% extends 'base.html' %}
{% block title %}Публікації{% endblock %}


{% block content %}
    <a href="/">
        <h4>На головну</h4>
    </a>

    <h1>Публікації</h1>
    <br/>

    {% if category %}
        <h3>{{ category }}</h3>
    {% endif %}

    {% for item in items %}
        <div class="articles-row">
            <a href="{{ item.get_absolute_url }}">
                <h4>{{ item.title }}</h4>
            </a>
            <h5>
                {{ item.pub_date|date:"j E Y"|safe|linebreaks }}
            </h5>
            <p>
                {{ item.description|safe|escape|striptags|truncatewords_html:32 }}
            </p>

            {% if item.images.all %}
                <div class="container-image">
                    <img class="img" src="{{ item.images.all.0.image.url }}" alt="Зображення" width="300" height="200"/>
                </div>
            {% endif %}

            <div class="clearfix"></div>
        </div>
    {% endfor %}
{% endblock %}
